<div [class.product-card__similar]="isSimilar" class="product-card show-item">
    <div class="product__card-img-wrapper">
        <img [src]="getImg(product.img)" [alt]="product.name" class="product__card-img">
    </div>
    <div class="product-card__bottom d-flex justify-content-between align-items-end">
        <div class="d-flex flex-column">
            <small class="product__type text-muted">{{ product.type }}</small>
            <span class="product__name font-weight-bold">{{ product.name }}</span>
        </div>
        <span class="product__price text-success">{{ product.price }} $</span>
    </div>
</div>